{{#if success_msg}}
<div class="alert text-center lighten-3 amber teal-text text-darken-1 flow-text">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="alert text-center lighten-3 amber red-text flow-text">{{error_msg}}</div>
{{/if}}