<h3>This is a Node/Express app for jotting down ideas for future Youtbe videos.</h3>
<p>1.00</p>
<h3>Developed by T. A. Adeshina</h3>
<img src="../images/Mr. taiwo.jpg" alt="The author of the app" class="responsive-img circle" width="208px" height="228px">
<span>Thanks!</span>