<div class="idea text-center center-align">
    <h3 class="header">{{title}}</h3>
    <p class="flow-text">Jot down ideas for your next youtube videos</p>
<a href="/ideas" class="btn waves-light waves-effect">Add video ideas</a>
</div>