
<div class="card" style="width:65% !important; padding:0.5rem;">
    <h3>Video Idea</h3>

    <form class="col s6" action="/ideas" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate" name="title" required autofocus>
                <label for="title" >Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <textarea class="validate" name="details" required style="height:8rem;"></textarea>
                <label for="details" >Details</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
</div>